body {
    font-family: 'Open Sans', sans-serif;
}


/*navbar*/

.navbar {
    position: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 48px;
    margin-bottom: 0;
    background-color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0 !important;
    border-bottom: 2px solid black;
}

.navbar a {
    padding-bottom: 13px;
    border-bottom: 2px solid black;
    color: white !important;
    transition: all 0.25s ease-in-out
}

.navbar a:hover {
    border-bottom: 2px solid #8fc1f4;
    color: #8fc1f4 !important;
}


/*home*/

.home {
    min-height: 50em;
    background-image: url('images/home-background.jpg');
    background-position-x: center;
    background-size: cover;
    margin-bottom: 0;
}

.home__greeting {
    text-align: center;
    padding-top: 15%;
    font-size: 3em;
    color: white;
    font-family: 'Open Sans', sans-serif;
}


/*about*/

.about {
    min-height: 30em;
    background-color: black;
    position: relative;
}

.about__container {
    max-width: 900px;
    margin: 0 auto;
}

.about__picture__settings {
    text-align: center;
    width: 300px;
    height: 300px;
    background-image: url('images/me.jpg');
    border-radius: 100%;
    background-position-x: -80px;
    background-position-y: -50px;
    margin: 50px auto;
    position: relative;
}

.about__text {
    text-align: center;
    color: white;
    font-size: 1.25em;
    margin-top: 150px;
}

@media screen and (max-width: 768px) {
    .about__text {
        margin: 15px 0 45px 0;
    }
}


/*portfolio*/

.portfolio {
    /*height: 500px;*/
    background-image: url('http://wallpapercave.com/wp/dllTcep.jpg');
    background-size: cover;
}

.portfolio__gallery {
    max-width: 1100px;
    margin: 0 auto;
}

.portfolio__my {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 3em;
    color: #8fc1f4;
}

.portfolio__item {
    height: 250px;
    background-color: black;
    border: solid 2px black;
    transition: all 0.25s ease-in-out;
    margin-bottom: 20px;
    position: relative;
}

.portfolio__item:hover {
    border: solid 2px #8fc1f4;
}

.portfolio__picture {
    width: 100%;
    height: 100%;
    background-image: url('http://il6.picdn.net/shutterstock/videos/12713180/thumb/1.jpg');
    background-size: cover;
}

.portfolio__description__bg {
    position: absolute;
    top: 30%;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.portfolio__description {
    color: white;
    margin-top: 20px;
    text-align: center;
}


/*contacts*/

.contacts {
    background-color: black;
}

.contacts .row {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.contacts__email {
    margin-top: 150px;
    margin-bottom: 50px;
    color: white;
    font-size: 3em;
    padding-bottom: 50px;
    border-bottom: 1px solid #8fc1f4;
}

.contacts__item {
    padding-top: 10px;
}

.contacts .btn {
    display: block;
    margin: 0 auto;
    font-size: 20px;
}

.contacts .btn a {
    color: white;
    text-decoration: none;
}